/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Background */
body {
    font-family: Arial, sans-serif;
    background-color: #2f2f2f;
    color: #fff;
    line-height: 1.6;
    transition: background-color 0.8s, color 0.8s;
}

body.light {
    background-color: #f9f9f9;
    color: #111010;
}

body.light .content {
    background-color: #f2f2f2;
}

body.light .content #disqus_thread {
    color: #111010;
}

body.light header,
body.light footer {
    color: #fff;
}


a {
    color: #222;
    text-decoration: none;
}

/* Header */
header {
    background-color: #333;
    padding: 10px 0;
}

.breadcrumb {
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumb a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 8px;
    max-width: 900px;
    margin: 0 auto;
}

.content {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1rem;
    color: #aaa;
}

.text {
    font-size: 20px;
    transition: font-size 0.4s ease;
}

.text p {
    font-size: inherit;
    margin: 15px 0px;
}

footer {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}








.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip::after {
    content: attr(tl-text);
    background-color: rgb(38, 42, 43);
    color: rgb(232, 230, 227);
    visibility: hidden;
    border-radius: 5px;
    padding: 18px;
    position: absolute;
    bottom: 118%;
    left: 0;
    white-space: normal;
    width: auto;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover::after,
.tooltip.clicked::after {
    visibility: visible;
    opacity: 1;
}

.tooltip.disabled::after {
    visibility: hidden !important;
    opacity: 0 !important;
}






.sidebar {
    position: fixed;
    top: 0;
    left: -283px;
    width: 283px;
    height: 100%;
    background-color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 999;
}

.sidebar.open {
    left: 0;
}

.close-btn {
    position: relative;
    top: -20px;
    left: 187px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.dropdown {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.json-result {
    margin-top: 20px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: none;
    max-height: calc(77vh - 17px);
    overflow-y: auto;
}

#jsonContent {
    background-color: #222;
    padding: 10px;
    color: #fff;
    font-family: monospace;
    white-space: pre-wrap;
}

#jsonContent a {
    color: #f9f9f9;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}


#jsonContent a:hover {
    background-color: #b49b83;
    color: white;
}

#shortcut-note {
    padding: 10px;
    margin-bottom: 24px;
    background-color: #3D3D3D;
    color: rgba(255, 255, 255, .85);
    border-radius: 15px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.close-note {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ccc5c5;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    z-index: 99;
    padding: 5px;
    text-align: center;
}

.close-note::before {
    content: "❌";
}

.flex-header {
    flex: 0 0 auto;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    padding-right: 40px;
    justify-content: flex-start;
}

.flex-container span {
    margin: 0 5px;
}


@media (max-width: 600px) {
    #shortcut-note {
        flex-direction: column;
    }

    .flex-container {
        margin-top: 10px;
    }
}








iframe[src*="ads-iframe"] {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

hr {
    border: none;
    margin-bottom: 24px;
    height: 2px;
    background-color: #c2c6cc;
}

label {
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    letter-spacing: 0.04rem;
    padding: 0.4rem 0.9rem;
    margin-top: 1.37rem;
    border-radius: 0.4rem;
    border: 0.3rem solid #48443b96;
    background: #444;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 0 0 #222;
}

label:active {
    box-shadow: none;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




