/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Background */
body {
    font-family: Arial, sans-serif;
    background-color: #2f2f2f;
    color: #fff;
    line-height: 1.6;
    transition: background-color 0.8s, color 0.8s;
}

body.light {
    background-color: #f9f9f9;
    color: #111010;
}

body.light .content {
    background-color: #f2f2f2;
}

body.light header,
body.light footer {
    color: #fff;
}

a {
    color: #222;
}

/* Header */
header {
    background-color: #333;
    padding: 10px 0;
}

.breadcrumb {
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumb a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 8px;
    max-width: 900px;
    margin: 0 auto;
}

.content {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 1rem;
    color: #aaa;
}

.text {
    font-size: 22px;
    transition: font-size 0.4s ease;
}

.text p {
    font-size: inherit;
    margin: 15px 0px;
}

footer {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}




















iframe[src*="ads-iframe"] {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

hr {
    margin-bottom: 25px;
}

label {
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    letter-spacing: 0.04rem;
    padding: 0.4rem 0.9rem;
    margin-top: 1.37rem;
    cursor: pointer;
    border-radius: 0.4rem;
    border: 0.3rem solid #48443b96;
    background: #444;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 0 0 #222;
}

label:active {
    box-shadow: none;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
